{% load static %}
<div class="card  bg-base-100 shadow-xl">
    <figure>
        <img src="{% static 'images/course.png' %}" alt="Card Image" class="w-full h-48 object-cover" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">Card Title</h2>
        <p>This is an example card styled with DaisyUI.</p>
        <div class="card-actions justify-end">
            <a href="{% url 'classroom' %}"><button class="btn btn-primary">Learn More</button></a>
        </div>
    </div>
</div>