
{% extends 'base.html' %}
{% block content %}
    <div class="w-screen sm:w-[300px] md:w-[400px] lg:w-[500px] xl:w-[1000px] mx-auto">
        <div class="h-[250px] bg-gradient-to-r from-blue-500 to-purple-500 text-white m-4 rounded-lg relative"
             style="background-image: url('{{ classroom.course_image.url }}'); background-size: cover; background-position: center;">
            <div class="flex flex-col justify-between items-start min-h-full">
                <div class="absolute bottom-4 left-4">
                    <p class="text-lg">{{ classroom.title }}</p>
                    <p class="text-sm">{{ classroom.short_introduction }}</p>
                </div>
            </div>
        </div>
        <div class="bg-white shadow-lg rounded-lg overflow-hidden m-4">
            <div class="flex items-center p-4">
                <img src="{{ classroom.course_image.url }}" alt="Course Image"
                     class="w-12 h-12 rounded-full object-cover"/>
                <div class="ml-4">
                    <p class="font-semibold text-gray-800">{{ classroom.title }}</p>
                    <p class="text-sm text-gray-500">{{ classroom.published_on|date:"F j, Y" }}</p>
                </div>
            </div>
            <div class="p-4">
                <p class="text-gray-800">{{ classroom.course_description }}</p>
                <p class="text-sm text-gray-500">Tags: {{ classroom.tags }}</p>
                <p class="text-sm text-gray-500">Categories: {{ classroom.categories }}</p>
                <p class="text-sm text-gray-500">Average Rating: {{ classroom.average_rating }}</p>
                {% if classroom.paid_course %}
                {% else %}
                {% endif %}
                <p class="text-sm text-gray-500">Price: ${{ classroom.course_price }}</p>
                <p class="text-sm text-gray-500">This is a free course</p>
            </div>
            <div class="p-4">
                <a href="{{ classroom.preview_video_link }}" class="btn btn-primary">Watch Preview</a>
            </div>
        </div>
    </div>
{% endblock %}